header {
  color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

.logo {
  background: url('images/logo.png') no-repeat;
  width: 100px; /* Adjust as per your logo size */
  height: 30px; /* Adjust as per your logo size */
  margin-left: 20px;
}

